#dashboard {
  background-color: aqua;
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedorCarousel {
  height: 100%;
  width: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contenedorSecundarioCarousel {
  height: 100%;
  width: 100% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#imagenDashboard {
  height: 50%;
  width: 50%;
}
