#dashboard {
  background-color: #F6CDFB;
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedorCarousel {
  height: 100%;
  width: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#contenedorSecundarioCarousel {
  height: 100%;
  width: 100%;
}

#contenedorImagenDashboard{
  display: flex;
  width: 90%;
  height: 90%;
  margin: auto;
}

#imagenDashboard {
  height: 85%;
  width: 85%;
  margin: auto;
}
