/* ESTILOS PARA COMPUTADORES */

@media (min-width: 900px){
    #contenedorFooter{
        width: 100%;
        height: 30%;
        background: #9F7FB1;
    }
    
    #contenedorSecundarioFooter{
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    #contendorAcordionFooter{
        width: 80%;
        height: 100%;
        margin: auto;
        background: none;
    }
    
    #contenedorItemFooter{
        width: 75%;
        margin: auto;
        height: 100%;
    }
    
    .accordion-item:last-of-type .accordion-button.collapsed {
        border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
        border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
        font-size: 0.8em;
        font-weight: 600;
        font-family: none;
        background: #FFC9D9;
        color: black;
    }
    
    .accordion-item:first-of-type .accordion-button {
        border-top-left-radius: var(--bs-accordion-inner-border-radius);
        border-top-right-radius: var(--bs-accordion-inner-border-radius);
        font-size: 0.8em;
        font-weight: 600;
        font-family: none;
        background: #FFC9D9;
        color: black;
    }
    
    #textoCuerpoAcordionFooter{
        font-size: 1.2em;
        font-weight: 400;
        font-family: none;
        background: #FFC9D9;
        color: black;
    }
    
    #contenedorRedesSocialesFooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    
    #tituloRedesSocialesFooter{
        font-size: 1.5em;
        font-weight: 600;
        font-family: none;
        color: black;
    }
    
    .botonesRedesSocialesFooter{
        font-size: 1.3em;
        font-weight: 500;
        font-family: none;
        color: black;
        background: none;
        border: none;
    }
    
    #estiloWtsFooter{
        color: #10B418;
        font-size: 1.3em;
        font-weight: bold;
    }
    
    #estiloInstagramFooter{
        color: #6C37BD;
        font-size: 1.3em;
        font-weight: bold;
    }

    #imagenLogoFooter{
        display: flex;
    }

    #imagenFooter{
        width: 80%;
        height: 80%;
        margin: auto;
    }
}

@media (min-width: 767px) and (max-width: 900px) {
    #contenedorFooter{
        width: 100%;
        height: auto;
        background: #9F7FB1;
    }
    
    #contenedorSecundarioFooter{
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    #contendorAcordionFooter{
        width: 100%;
        height: 100%;
        margin: 15px auto;
        background: none;
    }
    
    #contenedorItemFooter{
        width: 75%;
        margin: auto;
        height: 100%;
    }
    
    .accordion-item:last-of-type .accordion-button.collapsed {
        border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
        border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
        font-size: 0.8em;
        font-weight: 600;
        font-family: none;
        background: #FFC9D9;
        color: black;
    }
    
    .accordion-item:first-of-type .accordion-button {
        border-top-left-radius: var(--bs-accordion-inner-border-radius);
        border-top-right-radius: var(--bs-accordion-inner-border-radius);
        font-size: 0.8em;
        font-weight: 600;
        font-family: none;
        background: #FFC9D9;
        color: black;
    }
    
    #textoCuerpoAcordionFooter{
        font-size: 1.2em;
        font-weight: 400;
        font-family: none;
        background: #FFC9D9;
        color: black;
    }
    
    #contenedorRedesSocialesFooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    
    #tituloRedesSocialesFooter{
        font-size: 1.5em;
        font-weight: 600;
        font-family: none;
        color: black;
    }
    
    .botonesRedesSocialesFooter{
        font-size: 1.3em;
        font-weight: 500;
        font-family: none;
        color: black;
        background: none;
        border: none;
    }
    
    #estiloWtsFooter{
        color: #10B418;
        font-size: 1.3em;
        font-weight: bold;
    }
    
    #estiloInstagramFooter{
        color: #6C37BD;
        font-size: 1.3em;
        font-weight: bold;
    }

    #imagenLogoFooter{
        display: flex;
        height: 11em;
    }

    #imagenFooter{
        width: 90%;
        height: 90%;
        margin: auto;
    }
}

/* ESTILOS PARA TABLET */

@media (min-width: 480px) and (max-width: 767px) {
    #contenedorFooter{
        width: 100%;
        height: 70% !important;
        background: #9F7FB1;
    }
    
    #contenedorSecundarioFooter{
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    #contendorAcordionFooter{
        width: 100%;
        height: 100%;
        margin: auto;
        background: none;
    }
    
    #contenedorItemFooter{
        width: 75%;
        margin: auto;
        height: 100%;
    }
    
    .accordion-item:last-of-type .accordion-button.collapsed {
        border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
        border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
        font-size: 0.8em;
        font-weight: 600;
        font-family: none;
        background: #FFC9D9;
        color: black;
    }
    
    .accordion-item:first-of-type .accordion-button {
        border-top-left-radius: var(--bs-accordion-inner-border-radius);
        border-top-right-radius: var(--bs-accordion-inner-border-radius);
        font-size: 0.8em;
        font-weight: 600;
        font-family: none;
        background: #FFC9D9;
        color: black;
    }
    
    #textoCuerpoAcordionFooter{
        font-size: 1.2em;
        font-weight: 400;
        font-family: none;
        background: #FFC9D9;
        color: black;
    }
    
    #contenedorRedesSocialesFooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    
    #tituloRedesSocialesFooter{
        font-size: 1.5em;
        font-weight: 600;
        font-family: none;
        color: black;
    }
    
    .botonesRedesSocialesFooter{
        font-size: 1.3em;
        font-weight: 500;
        font-family: none;
        color: black;
        background: none;
        border: none;
    }
    
    #estiloWtsFooter{
        color: #10B418;
        font-size: 1.3em;
        font-weight: bold;
    }
    
    #estiloInstagramFooter{
        color: #6C37BD;
        font-size: 1.3em;
        font-weight: bold;
    }

    #imagenLogoFooter{
        height: 11em;
        display: flex;
    }

    #imagenFooter{
        width: 90%;
        height: 90%;
        margin: auto;
    }
}

/* ESTILOS PARA CELULARES */
@media (min-width: 320px) and (max-width: 480px) {
    #contenedorFooter{
        width: 100%;
        height: 70% !important;
        background: #9F7FB1;
    }
    
    #contenedorSecundarioFooter{
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    #contendorAcordionFooter{
        width: 100%;
        height: 100%;
        margin: auto;
        background: none;
    }
    
    #contenedorItemFooter{
        width: 75%;
        margin: auto;
        height: 100%;
    }
    
    .accordion-item:last-of-type .accordion-button.collapsed {
        border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
        border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
        font-size: 0.8em;
        font-weight: 600;
        font-family: none;
        background: #FFC9D9;
        color: black;
    }
    
    .accordion-item:first-of-type .accordion-button {
        border-top-left-radius: var(--bs-accordion-inner-border-radius);
        border-top-right-radius: var(--bs-accordion-inner-border-radius);
        font-size: 0.8em;
        font-weight: 600;
        font-family: none;
        background: #FFC9D9;
        color: black;
    }
    
    #textoCuerpoAcordionFooter{
        font-size: 1.2em;
        font-weight: 400;
        font-family: none;
        background: #FFC9D9;
        color: black;
    }
    
    #contenedorRedesSocialesFooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    
    #tituloRedesSocialesFooter{
        font-size: 1.5em;
        font-weight: 600;
        font-family: none;
        color: black;
    }
    
    .botonesRedesSocialesFooter{
        font-size: 1.3em;
        font-weight: 500;
        font-family: none;
        color: black;
        background: none;
        border: none;
    }
    
    #estiloWtsFooter{
        color: #10B418;
        font-size: 1.3em;
        font-weight: bold;
    }
    
    #estiloInstagramFooter{
        color: #6C37BD;
        font-size: 1.3em;
        font-weight: bold;
    }

    #imagenLogoFooter{
        height: 11em;
        display: flex;
    }

    #imagenFooter{
        width: 90%;
        height: 90%;
        margin: auto;
    }
}
