/* ESTILOS PANTALLA DE ESCRITORIO */

@media (min-width: 992px) {

    #nabvar{
        background: #E71B7C;
        height: 15%;
        width: 100%;
    }
    
    #contenedorNavbar{
        width: 100%;
        height: 100%;
        margin: 10px 20px;
    }
    
    #contenedorImagenNavbar{
        width: 50%;
        height: 100%;
    }
    
    #imagenLogoNavbar{
        width: auto;
        height: 100%;
    }
    
    #contenedorRedesSocialesNavbar{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 2em;
        font-weight: 600;
        font-family: none;
    }
    
    .RedesSociales{  
        color: black !important;
        font-size: 0.8em !important;
        font-family: math;
        font-weight: 600 !important;
    }

    .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        background: none !important;
        width: 100% !important;
        flex-direction: row !important;
    }


    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        height: 100%;
    }

    #logoInstaNavbar{
        height: 40px;
    }

    
    
}

/* ESTILOS PANTALLA DE TABLET */

@media (min-width: 480px) and (max-width: 992px) {
    #nabvar{
        background: #E71B7C;
        height: 15%;
        width: 100%;
    }
    
    #contenedorNavbar{
        width: 100%;
        height: 100%;
        margin: 10px 20px;
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        background: #E71B7C;
        z-index: 3 !important;
        width: 100%;
        height: 22em !important;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    #contenedorImagenNavbar{
        width: 100%;
        height: 100%;
        display: contents;
    }
    
    #imagenLogoNavbar{
        width: auto;
        height: 45%;
        margin: 10px 0px;
    }
    
    #contenedorRedesSocialesNavbar{
        width: 60%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        font-size: 1.5em;
        font-weight: 600;
        font-family: none;
        margin: auto;
    }
    
    .RedesSociales{  
        color: black !important;
        font-size: 1.1em !important;
        font-family: math;
        font-weight: 500 !important;
    }

    #logoInstaNavbar{
        height: 40px;
    }
}



/* ESTILOS PANTALLA DE CELULAR */

@media (min-width: 320px) and (max-width: 480px) {
    #nabvar{
        background: #E71B7C;
        height: 15%;
        width: 100%;
    }
    
    #contenedorNavbar{
        width: 100%;
        height: 100%;
        margin: 10px 20px;
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        background: #E71B7C;
        z-index: 3 !important;
        width: 100%;
        height: 20em;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    #contenedorImagenNavbar{
        width: 100%;
        height: 100%;
        display: contents;
    }
    
    #imagenLogoNavbar{
        width: 1auto;
        height: 45%;
        margin: 10px 0px;
    }
    
    #contenedorRedesSocialesNavbar{
        width: 60%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        font-size: 1.5em;
        font-weight: 600;
        font-family: none;
        margin: auto;
    }
    
    .RedesSociales{  
        color: black !important;
        font-size: 0.9em !important;
        font-family: math;
        font-weight: 500 !important;
    }

    #logoInstaNavbar{
        height: 40px;
    }
}
