/* ESTILOS PANTALLA DE ESCRITORIO */

@media (min-width: 1071px) {

    #contenedorProductos{
        width: 100%;
        height: auto;
        background: white;
        display: flex;
        justify-content: center;

    }

    #contenedorSecundarioProductos{
        width: 85%;
        height: auto;
        background: white;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 30px 5px;
        
    }

    #filasProductos{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        grid-gap: 15px;
    }

    #columnasProductos{
        width: 32%;
    }

    #contenedorCardProducto{
        height: 20em;
    }

    .contenedorBodyProducto{
        display: flex;
        flex-direction: column;
    }

    .imagenProductoCard{
        width: 100% !important;
        height: 10em;
    }

    .tituloCardProducto{
        font-size: 1.5em !important;
        font-weight: bold !important;
        font-family: none;
        text-align: center;
    }

    .botonCardProducto{
        font-size: 1.5em !important;
        font-weight: bold !important;
        font-family: none !important;
        margin: auto;
        background: black !important;
    }

}

/* ESTILOS PARA TABLETS */
@media (min-width: 751px) and (max-width: 1071px) {

    #contenedorProductos{
        width: 100%;
        height: auto;
        background: white;
        display: flex;
        justify-content: center;

    }

    #contenedorSecundarioProductos{
        width: 85%;
        height: auto;
        background: white;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 30px 5px;
    }

    #filasProductos{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        grid-gap: 20px;
    }

    #columnasProductos{
        width: 45%;
    }

    #contenedorCardProducto{
        height: 20em;
    }

    .contenedorBodyProducto{
        display: flex;
        flex-direction: column;
    }

    .imagenProductoCard{
        width: 100% !important;
        height: 10em;
    }

    .tituloCardProducto{
        font-size: 1.5em !important;
        font-weight: bold !important;
        font-family: none;
        text-align: center;
    }

    .botonCardProducto{
        font-size: 1.5em !important;
        font-weight: bold !important;
        font-family: none !important;
        margin: auto;
        background: black !important;
    }
}


@media (min-width: 480px) and (max-width: 751px) {

    #contenedorProductos{
        width: 100%;
        height: auto;
        background: white;
        display: flex;
        justify-content: center;

    }

    #contenedorSecundarioProductos{
        width: 85%;
        height: auto;
        background: white;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 30px 5px;
    }

    #filasProductos{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        grid-gap: 20px;
    }

    #columnasProductos{
        width: 45%;
    }

    #contenedorCardProducto{
        height: 18em;
    }

    .contenedorBodyProducto{
        display: flex;
        flex-direction: column;
    }

    .imagenProductoCard{
        width: 100% !important;
        height: 7em;
    }

    .tituloCardProducto{
        font-size: 1.2em !important;
        font-weight: bold !important;
        font-family: none;
        text-align: center;
        height: 40px;
    }

    .botonCardProducto{
        font-size: 1em !important;
        font-weight: bold !important;
        font-family: none !important;
        margin: auto;
        background: black !important;
        height: 35px;
    }
}

/* ESTILOS PARA CELULARES */

@media (min-width: 320px) and (max-width: 480px) {

    #contenedorProductos{
        width: 100%;
        height: auto;
        background: white;
        display: flex;
        justify-content: center;

    }

    #contenedorSecundarioProductos{
        width: 100%;
        height: auto;
        background: white;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 20px 5px;
    }

    #filasProductos{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        grid-gap: 10px;
    }

    #columnasProductos{
        width: 48%;
        margin: 0px;
        padding: 0px;
    }

    #contenedorCardProducto{
        height: 16em;
    }

    .contenedorBodyProducto{
        display: flex;
        flex-direction: column;
        height: 9em;
    }

    .imagenProductoCard{
        width: 100% !important;
        height: 7em;
    }

    .tituloCardProducto{
        font-size: 1.1em !important;
        font-weight: bold !important;
        font-family: none;
        text-align: center;
        height: 3em;
    }

    .botonCardProducto{
        font-size: 1em !important;
        font-weight: bold !important;
        font-family: none !important;
        margin: auto;
        background: black !important;
        height: 4em;
    }
}



